.mifuente{
	font-size: 30px;
}
.fondo{
  background-color:#A9A9A9;
}
@media (max-width: 200px) and (max-heigth: 160px) {
    .mifuente {
        font-size: 30px;
    }
}
.fuenteReloj{
	display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-size: 45vw;
}

.fuenteAnuncio{
	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-weight: bold;
  	font-size: 6vw;
  	color: RED;
}
body {
-webkit-user-select: none;
-webkit-tap-highlight-color: transparent;
-webkit-touch-callout: none;
  overscroll-behavior-y:contain;
  background-image: url('img/Foto_Pesas.jpg');
  background-size: 100%;
}
.audio{
  display: none;
  height: 5px;
  width: 5px;
}
