.mifuente{
	font-size: 30px;
}
.fondo{
  background-color:WHITE;
  
  background-size: 100%;
}
@media (max-width: 200px) and (max-heigth: 160px) {
    .mifuente {
        font-size: 30px;
    }
}
.fuenteReloj{
	display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  font-size: 45vw;
  color: BLACK!important;
}

.listaEjercicio{
  color: RED;
  font-weight: bold;
}

.fuenteReloj2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  font-size: 35vw;
  color: BLACK!important;
}

.fuenteAnuncio{
	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-weight: bold;
  	font-size: 5vw;
  	color: RED;
}
body {
-webkit-user-select: none;
-webkit-tap-highlight-color: transparent;
-webkit-touch-callout: none;
  overscroll-behavior-y:contain;
 
}
.audio{
  display: none;
  height: 5px;
  width: 5px;
}

.invisible{
  display: none;
}
.textoLargo{
  height:   70%;

}